<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
    <ion-searchbar type="text" placeholder="Artiste" (keyup.enter)="onSearchArtist($event)"></ion-searchbar>
   </ion-toolbar>
   
   <div  *ngIf="dataSearchArtists">
    <ion-card *ngFor="let artist of dataSearchArtists.data" (click)="goToAlbum(artist)">
      <ion-card-header>
        <ion-card-title>{{artist.name}}</ion-card-title>
        <ion-card-subtitle>{{artist.nb_fan}} fans</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <img src="{{artist.picture_medium}}">
      </ion-card-content>
    </ion-card>
  </div>


  
</ion-content>
